html, main, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

button, input {
    border: none;
}

#root, .container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container {
    background-color: whitesmoke;
    width: 100%;
}

.center {
    margin: auto;
}

.center > h1 {
    color: rgb(80, 80, 80);
    padding-bottom: 10px;
    border-bottom: 2px dotted lightpink;
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 225px;
    justify-content: space-evenly;
}

.login__form > div {
    display: flex;
    justify-content: space-between;

}

.login__form > button {
    font-size: 16px;
    font-weight: 600;
    width: 100px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 5px 0px;
    background-color: pink;
}
.login__form > div {
    margin: 0px 10px;
}
.login__form > div > label {
    align-self: center;
}

.login__form > div > input {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
}

.login__redirects {
    text-align: center;
    width: 100%;
    font-size: 12px;
}

.login__redirects > a {
    color: rgb(126, 91, 126);
    text-decoration: underline lightpink;
}

.errors {
    color: maroon;
    font-size: 14px;
}

/* HEADER STYLES */
.header {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    height: 55px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    padding-left: 35px;
    align-items: center;
}

.header__right {
    display: flex;
    padding-right: 35px;
    align-items: center;
    font-weight: 600;
}

.header__left--logo {
    display: flex;
    width: 105px;
    color: pink;
    align-items: center;
}

.img-logo {
    width: 25px;
    height: 25px;
}

.logo {
    font-stretch: expanded;
    color: black;
    align-self: center;
    font-weight: 600;
}

.search-container {
    width: 300px;
    background-color: whitesmoke;
    border-radius: 4px;
}

.search {
    color: slategray;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    height: 35px;
    border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
}

.search:focus {
    box-shadow: lightpink 0px 0px 5px;
}

.search-results-container {
    position: relative;
}

.search-results {
    font-size: x-small;
    width: 300px;
    position: absolute;
    box-shadow: 0 0 2px rgb(252, 245, 245);
    background-color: white;
}

.result-container {
    display: flex;
}

.result-container:hover {
    background-color: #fff8f8;
}

.img-placeholder {
    width: 40px;
    height: 40px;
    background-color: #7cc5d2;
    align-self: center;
    margin-left: 10px;
}
.result {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 10px
}

.search-matched-term {
    font-weight: 600;
    font-size: 11px;
}

/* MODULE STYLES */
.module {
    margin-right: 20px;
}

.module__heart {
    color: black;
    font-size: 1.5rem;
}

.module__avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.module__avatar > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.module__avatar-container {
    position: relative;
}

.module__menu {
    box-shadow: 0 0 2px lightgray;
    border-radius: 4px;
    position: absolute;
    top: 38px;
    right: 0px;
    background-color: white;
    height: 60px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 5px;
    font-size: small;
    text-align: center;
}
.module__menu :hover {
    color: #7cc5d2;
}

/* BANNER STYLES */
.grey {
    background-color: dimgray;
}

.banner {
    width: 1450px;
    display: flex;
    margin: 0 auto;
    height: 500px;
}

.banner__left {
    width: 1075px;
    flex-basis: 75%;
    background-color: mistyrose;
}

.banner__right {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner__right .mini {
    justify-self: start;
}

.banner__right .mini--first {
    flex-grow: 1;
    background-color: lightsalmon;
}

.banner__right .mini--second {
    flex-grow: 1;
    background-color: lightpink;
}

.banner__right .mini--third {
    flex-grow: 1;
    background-color: pink;
}

.banner__right > div {
    background-color: thistle;
    /* flex-basis: auto; */
}

/* Used for headers on main for sections */
.main--h3 {
    color: darkgray
}

.divider {
    height: 55px;
    width: auto;
    background-color: transparent;
}

/* LATEST 5 ALBUMS */
.new-and-notable {
    width: 1255px;
    margin: 0 auto;
}

.main--h3 {
    font-size: regular;
    margin: 0;
    padding-bottom: 20px;
}

.main__latest {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.main__latest--card {
    background-color: white;
    display: flex;
    margin: 0 10px;
    flex-direction: column;
    width: 200px;
}

.latest--card-image {
    height: 200px;
    background-color: olivedrab;
}

.latest--card-blurb {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin: 10px;
}

/* GENRES */
.genre-title-container {
    width: 1255px;
    margin: 0 auto;
}

.genre-gradient {
    position: relative;
}

.pink1 {
    background-color: rgb(255, 145, 161);
}

.pink2 {
    background-color: lightpink;
}

.pink3 {
    background-color: pink;
}

.genre-gradient > ul {
    width: 1200px;
    height: 35px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
}

.genre-gradient > ul > li {
    color:white;
    font-size: 15px;
    font-weight: 600;
    align-self: center;
    margin-right: 20px;
    padding: 4px 10px;
}

.genre-gradient > ul > li:hover {
    border-radius: 20px;
    background-color: rgb(163, 70, 101);
}

.genre-gradient > ul > li.selected {
    background-color: rgb(107, 21, 50);
    border-radius: 20px;
}

/* FOOTER */
.footer {
    width: auto;
    background-color: wheat;
}

/* TESTING */
.asdf {
    background-color: mediumturquoise;
}

.musicpage-container {
    width: 975px;
    align-self: center;
    background-color: white;
}

.musicpage__header {
    height: 180px;
    overflow: hidden;
}

.musicpage__main {
    display: flex;
    width: auto;
    margin-top: 30px;
    min-height: 600px;
}

.musicpage__main--left {
    margin-left: 25px;
    flex-basis: 99%;
    display: flex;
    justify-content: space-between;
}

.musicpage__main--right {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    width: 120px;
}

.ap--player-songs {
    flex-basis: 70%;
    margin-right: 25px;
}

.current-album > h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
}

.current-album > div {
    font-size: 14px;
}

.current-album > div > a {
    color: deeppink;
}

.ap--art-fans {
    margin-right: 25px;
    width: 350px;
}

.ap-art {
    width: 350px;
    height: 350px;
    margin-bottom: 25px;
}

.large-cover {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.large-header {
    width: 975px;
    height: 180px;
    object-fit: cover;
}

.ap-avatar {
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
    /* margin: 50px auto 20px auto; */
}

.artist-avatar {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.follow-button {
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
    color: deeppink;
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: 1px solid darkgrey;
    background-color: transparent;
}

.full-discography {
    width: 750px;
    display: flex;
    justify-content: space-between;
}

.album-card {
    width: 350px;
    height: 375px;
}

.album-card__art {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.album-card__name {
    font-size: 14px;
    color: deeppink;
}

.side-discography {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
}

.side-discography__album-art {
    margin-top: 15px;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.side-discography__album-name {
    font-size: 12px;
    color: deeppink
}

*:focus, textarea:focus, input:focus {
    outline: none;
}
