

html, main, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
}

#root, .container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container {
    background-color: whitesmoke;
    width: 100%;
}

.center {
    margin: auto;
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
    justify-content: center;
}

.login__form > div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.login__form > button {
    font-size: large;
    border: none;
    margin: 0 auto;
    width: 100px;
    border-radius: 4px;
    background-color: pink;
}

.login__redirects {
    width: 100%;
}

/* HEADER STYLES */
.header {
    display: flex;
    height: 55px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    padding-left: 30px;
    align-items: center;
}

.header__right {
    display: flex;
    padding-right: 30px;
    align-items: center;
}

.header__left--logo {
    display: flex;
    width: 150px;
    color: pink;
    margin-right: 20px;
    align-items: center;
}

.img-logo {
    width: 40px;
    height: 40px;
}

.logo {
    align-self: flex-end;
    padding-bottom: 2px;
    padding-left: 2px;
    font-size: x-large;
    font-weight: 600;
}

.search-container {
    width: 300px;
    background-color: whitesmoke;
    border-radius: 4px;
}

.search {
    color: slategray;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    height: 35px;
    border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
}

.search:focus {
    box-shadow: lightpink 0px 0px 5px;
}

.search-results-container {
    position: relative;
}

.search-results {
    font-size: x-small;
    width: 300px;
    position: absolute;
    box-shadow: 0 0 2px rgb(252, 245, 245);
    background-color: white;
}

.result-container {
    display: flex;
}

.result-container:hover {
    background-color: #fff8f8;
}

.img-placeholder {
    width: 40px;
    height: 40px;
    background-color: #7cc5d2;
    align-self: center;
    margin-left: 10px;
}
.result {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 10px
}

.search-matched-term {
    font-weight: 600;
    font-size: 11px;
}

/* MODULE STYLES */
.module {
    /* background-color: purple; */
    margin-right: 20px;
}

.module__heart {
    color: red;
    font-size: 1.5rem;
}

.module__avatar {
    background-color: tomato;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.module__avatar > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.module__avatar-container {
    position: relative;
}

.module__menu {
    box-shadow: 0 0 2px lightgray;
    border-radius: 4px;
    position: absolute;
    top: 38px;
    right: 0px;
    background-color: white;
    height: 60px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 5px;
    font-size: small;
    text-align: center;
}
.module__menu :hover {
    color: #7cc5d2;
}

/* BANNER STYLES */
.banner {
    display: flex;
    width: auto;
    height: 35vw;
}

.banner__left {
    flex-basis: 70%;
    background-color: mistyrose;
}

.banner__right {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner__right .mini {
    justify-self: start;
}

.banner__right .mini--first {
    flex-grow: 1;
    background-color: lightsalmon;
}

.banner__right .mini--second {
    flex-grow: 1;
    background-color: lightpink;
}

.banner__right .mini--third {
    flex-grow: 1;
    background-color: pink;
}

.banner__right > div {
    background-color: thistle;
    /* flex-basis: auto; */
}

/* Used for headers on main for sections */
.main--h3 {
    color: darkgray
}

.divider {
    height: 55px;
    width: auto;
    background-color: transparent;
}

/* LATEST 5 ALBUMS */
.new-and-notable {
    width: 75%;
    margin: 0 auto;
}

.main--h3 {
    font-size: regular;
    margin: 0;
    padding-bottom: 20px;
}

.main__latest {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.main__latest--card {
    background-color: white;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.main__latest--card :first-child {
    height: 200px;
}

/* GENRES */

.genre-container {
    width: 75%;
    margin: 0 auto;
}

.genre-gradient {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
    width: 100vw;
}
.genre-gradient.pink1 {
    margin-top: 0px;
    background-color: rgb(255, 145, 161);
}

.genre-gradient.pink2 {
    margin-top: 0;
    background-color: lightpink;
}

.genre-gradient.pink3 {
    margin-top: 0px;
    background-color: pink;
}

.genre-gradient > ul {
    height: 25px;
    width: 73%;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
}

/* .genre-gradient.pink2 > ul {

} */

.genre-gradient > ul > li {
    align-self: center;
    margin-right: 45px;
}

/* FOOTER */
.footer {
    width: auto;
    background-color: wheat;
}

/* TESTING */
.asdf {
    background-color: cornflowerblue;
}
.albumpage-container {
    width: 70%;
    align-self: center;
    background-color: rebeccapurple;
}

.albumpage__header {
    background-color: rgb(193, 149, 235);
    height: 180px;
    overflow: hidden;
}

.albumpage__main {
    display: flex;
    width: auto;
}

.albumpage__main--left {
    padding-left: 25px;
    flex-basis: 99%;
    display: flex;
}
.albumpage__main--right {
    margin-top: 50px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    width: 120px;
}

.ap--player-songs {
    flex-basis: 70%;
    margin-right: 25px;
}

.ap--art-fans {
    margin-right: 25px;
    margin-top: 50px;
    width: 350px;
}

.ap-art {
    width: 350px;
    height: 350px;
    margin-bottom: 25px;
}

.ap-avatar {
    width: 120px;
    height: 120px;
    background-color: plum;
    margin-bottom: 5px;
    /* margin: 50px auto 20px auto; */
}

.follow-button {
    width: auto;
    height: 25px;
    margin: 5px 0px;
}