.header {
    display: flex;
    height: 55px;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    padding-left: 30px;
}

.right {
    display: flex;
    padding-right: 30px;
}

.logo {
    width: 150px;
    background-color: pink;
    margin-right: 20px;
}