.login > h1 {
  color: rgb(80, 80, 80);
  padding-bottom: 10px;
  border-bottom: 2px dotted lightpink;
  margin-bottom: 10px;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: space-evenly;
}

.form-line {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}

#login-button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  width: 100px;
  margin: 30px auto;
  border-radius: 20px;
  padding: 5px 0px;
  background-color: pink;
}

.form-label {
  align-self: center;
}

.form-input {
  width: 200px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: white;
}

.login__redirects {
  text-align: center;
  width: 100%;
  font-size: 14px;
}

.login__redirects > a {
  color: hotpink;
  text-decoration: underline lightpink;
}

.errors {
  position: absolute;
  color: maroon;
  font-size: 14px;
}
