.header {
  width: auto;
  margin: 0 auto;
  display: flex;
  height: 55px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  padding-left: 10%;
}

.header__right {
  padding-right: 10%;
}

#logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#logo-svg {
  width: 25px;
  height: 25px;
}

#logo-text {
  color: black;
  align-self: flex-end;
  font-size: 20px;
}

.search-container {
  width: 325px;
  background-color: whitesmoke;
  border-radius: 3px;
  position: relative;
}

#search-button {
  cursor: pointer;
  position: absolute;
  right: 10px;
  vertical-align: center;
  background-color: transparent;
  height: 40px;
}

.search {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  height: 40px;
  border:none;
  background-image:none;
  background-color:transparent;
  box-shadow: none;
}

.search:focus {
  transition: box-shadow 0.25s;
  box-shadow: rgb(125, 125, 125, .5) 0px 0px 5px;
  border-radius: 5px;
}

.search-results-container {
  position: relative;
  z-index: 1;
}

.search-results {
  box-sizing: border-box;
  font-size: 12px;
  width: 325px;
  position: absolute;
  top: -3px;
  border: 1px solid rgba(125, 125, 125, .1);
  border-top: 2px solid whitesmoke;
  background-color: white;
}

.result-container {
  display: flex;
  height: 60px;
}

.result-container:hover {
  background-color: rgb(252, 245, 245);
}

.result-img-placeholder {
  width: 40px;
  height: 40px;
  align-self: center;
  margin-left: 10px;
  object-position: center;
  object-fit: cover;
  border: 1px solid rgba(139, 88, 88, 0.1);
}

.result-img-placeholder.artist {
  border-radius: 50%;
}

.result {
  align-self: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

.search-matched-term {
  font-weight: 600;
}
