
.follow-card__button > .follow-button {
  text-transform: uppercase;
  font-size: 10px;
  background-color: transparent;
  color: deeppink;
  border: 1px solid deeppink;
  width: 80px;
  content: "asdf";
}

.follow-card__button > .following {
  border: none;
  color: gray;
}

.follow-card__button > .following:hover {
  border: 1px solid gray
}


.profile-container {
  top: -25px;
  position: relative;
  width: 1200px;
  margin: auto;
}

.profile__header {
  background-image: url(https://shinyday.s3.us-east-2.amazonaws.com/profile-header.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 75px;
}

.profile__fan-bio {
  display: flex;
}

.profile__fan-bio > img {
  border: 1px solid rgba(169, 169, 169, 0.514);
}

.profile__fan-bio > h2 {
  margin-top: 50px;
  margin-left: 35px;
}

.profile__tabs {
  margin-top: 25px;
  display: flex;
  border-bottom: 1px solid darkgrey;
}

.profile__tabs > div {
  padding: 5px 10px;
}

.follow-cards-container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.follow-card {
  display: flex;
  margin: 10px;
  background-color:white;
  font-size: 13px;
  font-weight: 600;
  width: 200px;
}

.follow-card > img {
  width: 70px;
  height: 70px;
}

.follow-card--blurb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 130px;
  height: 60px;
  margin: auto 10px;
}
